.wrapper {
  display: grid;
}

.img {
  max-width: 100%;

  display: block;
  grid-area: 1/1;
  opacity: 0;
  transition: 0.2s;
}

.skeleton {
  background-image: var(--img-skeleton-bg-image);
  background-color: var(--img-skeleton-bg-color);
  background-size: 200%;
  height: 100%;
  grid-area: 1/1;
  animation: skeleton 1.5s infinite linear;
}

@keyframes skeleton {
  from {
    background-position: 0px;
  }
  to {
    background-position: -200%;
  }
}
