.login {
  min-height: 100vh;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1rem;
}

.login::before {
  content: '';
  background: url('../../Assets/login.jpg') no-repeat center;
  background-size: cover;
  display: block;
  flex: 1;
}

.forms {
  max-width: 30rem;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

@media screen and (max-width: 40rem) {
  .login {
    max-width: 100%;
  }
  .login::before {
    display: none;
  }
  .forms {
    max-width: 100%;
  }
}
