* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-bg: white;

  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia, serif;
  --font-color: #333;
}

a {
  text-decoration: none;
}

body {
  color: var(--font-color);
  font-family: var(--type-first);
  padding-top: 4rem;
}

input,
button {
  color: var(--font-color);
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
}

.container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
}
