* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-bg: white;
  --modal-bg: white;
  --title-detail-bg: #fb1;
  --subtitle-detail-bg: #ddd;

  --user-navlink-bg: #eee;
  --user-navlink-bg-hover: white;
  --user-navlink-color-active: #fb1;
  --user-navlink-shadow-active: #fea;

  --input-bg: #eee;
  --input-border-color: #eee;
  --input-hover-bg: white;
  --input-hover-border-color: #fb1;

  --textarea-bg: #eee;
  --textarea-bg-hover: white;
  --textarea-border-color: #eee;
  --textarea-border-color-hover: #fb1;
  --textarea-shadow-color-hover: #fea;

  --delete-bt-bg: #ddd;
  --delete-bt-bg-hover: white;
  --delete-bt-border-color: var(--font-color);
  --delete-bt-shadow-color: #eee;

  --comment-bt-fill-hover: #fea;
  --comment-bt-stroke-hover: #fb1;

  --button-bg: #fb1;
  --button-color: #764701;
  --button-shadow-color: #fea;

  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia, serif;
  --font-color: #333;

  --error-color: #f31;

  --img-skeleton-bg-image: linear-gradient(
    90deg,
    #eee 0px,
    #fff 50%,
    #eee 100%
  );
  --img-skeleton-bg-color: #eee;

  --loading-bg: rgba(255, 255, 255, 0.5);
  --loading-fill: var(--font-color);
}

a {
  color: var(--font-color);
  text-decoration: none;
}

body {
  color: var(--font-color);
  font-family: var(--type-first);
  padding-top: 4rem;
}

input,
button {
  color: var(--font-color);
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
}

.container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.feed-container {
  margin-top: 2rem;
}

.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  background: var(--title-detail-bg);
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
}

.animeLeft {
  transform: translateX(-2rem);
  opacity: 0;
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
